<div *ngIf="recipes.length > 0; else noRecipes" class="row">
  <div *ngFor="let recipe of recipes" class="col-md-3">
    <div class="card mb-3">
      <img [src]="recipe.image" alt="{{ recipe.name }}" class="card-img-top recipe-image" />
      <div class="card-body">
        <h5 class="card-title recipe-name">{{ recipe.name }}</h5>
        <p class="card-text recipe-level">רמה: {{ recipe.level }}</p>
        <button type="submit" class="btn-custom" (click)="rout(recipe._id)">פרטים נוספים</button>
      </div>
      
    </div>
  </div>
</div>
<br>
<br>
<ng-template #noRecipes>
  <div class="alert alert-warning" role="alert">
    אין מתכונים זמינים.
  </div>
</ng-template>
